---
import Social from "./Social.astro";
---

<footer role="contentinfo">
  <p>catch me inside @ <Social platform="github" username="mechwire"/></p>
  <a href="/maple/tap" style="display: none"></a>
</footer>
