---

import Navigation from "./Navigation.astro";

const { subdirectoryName, subdirectoryPath } = Astro.props;

---

<header>
  <a id="header-logo" role="banner" href=`${subdirectoryPath}/`>{subdirectoryName}</a>
  <Navigation subdirectory={subdirectoryPath} />
</header>